body{
    background-color:whitesmoke;
}
.mint{
    border-color:#2fdab8;
}
#shapes{
    height:200px;
    margin-top:10px;
    margin-bottom:-20px;
}
#circ{
    width:100px;
    height:100px;
    border-radius:10%;
    border:2px solid #404350;
}
#rect{
    height:75px;
    background-color:#404350;
    color:whitesmoke;
    text-align:center;
}
.clickable{
    cursor:pointer;
}
#phoneTitle{
    font-size:80%; 
}
#phonePosition{
    font-size:50%;
}
.contactEle:hover{
    cursor:pointer;
}
.btn{
    background-color:#2fdab8;
    border-color:#2fdab8;
    color:#404350;
}
.btn:hover{
    background-color:#2fdab8;
    border-color:#2fdab8;
    color:#404350;
}
#left{
    width:130px;
    background-color:#F2E7DB;
    border-radius:5px;
    border:2px solid grey;
    padding:10px;
}
.miniLine{
    margin-top:-10px;
    border-color:#404350;
}
.fa-star{
    font-size:80%; 
}
.fa-star-half-alt{
    font-size:80%;
}
.miniList{
    margin-left:-23px;
}
.header{
    margin-bottom:-7px;
}
.alert{
    display:none; 
}