body{
    background-color:whitesmoke;
    color:#404350;
}
.container{
    background-color:white;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:#B7DCC7; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.mint{
    border-color:#B7DCC7;
}
#shapes{
    margin-bottom:15px;
}
#circ{
    width:200px;
    height:200px;
    border-radius:50%;
    border:2px solid #404350;
    margin-top:30px;
    margin-bottom:10px;
}
#rect{
    text-align:center;
    margin-bottom:20px;
}
#phoneTitle{
    font-size:300%;
}
#cvBtn{
    text-decoration:none;
    color:whitesmoke;
}
.contactEle:hover{
    cursor:pointer;
}
.btn{
    background-color:#404350;
    border-color:#404350;;
    color:whitesmoke;
}
.btn:hover{
    background-color:#404350;
    border-color:#404350;;
    color:whitesmoke;
}
#left{
    width:200px;
    background-color:#DFF8F8;
    padding:10px;
    text-align:center;
    font-size:70%;
    margin-right:20px;
    margin-left:20px;
    border:2px solid #B7DCC7;
}
.miniLine{
    margin-top:-10px;
    border-color:gray;
}
.fa-circle{
    font-size:40%; 
}
.fa-dot-circle{
    font-size:40%;
}
/*
.miniList{
    margin-left:-23px;
}
*/
.header{
    margin-bottom:-7px;
}
.alert{
    display:none; 
}